[Unit]
Description=Backup Vaultwarden to Proxmox backup storage
Wants=network-online.target
After=network-online.target docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/vaultwarden-backup.sh
User=root
Group=root
