[Unit]
Description=Daily Nextcloud backup retention

[Timer]
OnCalendar=*-*-* 04:30:00
Persistent=true
Unit=nextcloud-backup-retention.service

[Install]
WantedBy=timers.target
